*{
  cursor: default;
  font-family:Arial, Helvetica, sans-serif;
}
.album-container{
  display:block;
  box-sizing:border-box;
  width:60%;
  margin:0 auto;
  z-index: 20;
  padding:2em;
  background-color:#fff;
  height:auto;
}

.AlbumHead{
  display:block;
  height:auto;
}

.AlbumImage{
  width: 30%;
  height: 48vh;
  float:left;
}

.AlbumDesc{
  display:block;
  float:right;
  width:70%;
}

.AlbumDesc span{
  padding-left:1em;
  line-height:2;
  font-size:1.6em;
}

 .AlbumRating{
  display:block; 
  box-sizing: border-box;
  padding-left:1em;
  width:50%;
  float:left;
}

.star-color{
  fill:blue;
}

.AlbumTrack{
  display:block;
  margin-top:2em;
  font-size:1.2em;
  line-height: 1.4;
}

.star_rating{
  display:block;
  height:30px;
}