*{
  cursor: default;
}
.album-container{
  display:block;
  box-sizing:border-box;
  width:60%;
  margin:0 auto;
  z-index: 20;
  padding:2em;
  background-color:#fff;
  height:100vh;
}

.AlbumHead{
  display:block;
  height:48vh;
}

.AlbumImage{
  width: 30%;
  height: 48vh;
  float:left;
}

.AlbumDesc{
  display:block;
  line-height:2em;
}

.AlbumDesc span{
  padding-left:1em;
}

.AlbumTrack, .AlbumRating{
  display:block; 
  box-sizing: border-box;
  padding-left:1em;
  width:50%;
  float:left;
}

.star-color{
  fill:blue;
}