.AlbumHead{
  display:block;
  height:350px;
}

.AlbumImage{
  width: 350px;
  height: 350px;
  float:left;
}

.AlbumDesc{
  display:block;
  line-height:2em;
}

.AlbumDesc span{
  padding-left:1em;
}

.AlbumTrack, .AlbumRating{
  display:block; 
  box-sizing: border-box;
  padding-left:1em;
  width:50vw;
  float:left;
}