.results-container{
  display:grid;
  margin-top:2em;
  width:70%;
  margin:0 auto;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 2em;
}

.results-container img{
  width:200px;
  height:200px;
}

.search-card img{cursor:pointer;}

.overlay{
  display:block;
  position:fixed;
  left:0;
  top:0%;
  z-index:1;
  width:100vw;
  height:100vh;
  background-color:rgba(126, 126, 126, 0.705);
}

.card p span{
  font-weight:700;
}

#close{
  display:block;
  box-sizing:border-box;
  width:60%;
  padding: 0 1em;
  margin:0 auto;
  text-align:right;
  background:#fff;
  font-size:2em;
}